{% extends 'base.html.twig' %}

{% block navigation %}
    {% if app.user %}
        <li><a href="{{ path('homepage') }}">Strona główna</a></li>
        <li><a href="{{ path('survey_list') }}">Moje ankiety</a></li>
        <li><a href="{{ path('admin_panel') }}">Panel administratora</a></li>
        <li><a href="{{ path('app_logout') }}">Wyloguj się ({{ app.user.email }})</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>404</h1>
    <p>{{ message }}</p>
{% endblock %}