{% extends 'base.html.twig' %}

{% block navigation %}
    <li><a href="{{ path('homepage') }}">Strona główna</a></li>
    <li><a href="{{ path('signin') }}">Zaloguj się</a></li>
    <li><a href="{{ path('signup') }}">Zarejestruj się</a></li>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h2 class="mb-4 text-center">Załóż konto</h2>

                    {{ form_start(registrationForm) }}
                        {{ form_errors(registrationForm) }}
                        <div class="mb-3">
                            {{ form_row(registrationForm.email, {'label_attr': {'class': 'fw-bold'}}) }}
                        </div>
                        
                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword.first, {'label_attr': {'class': 'fw-bold'}}) }}
                        </div>
                        <div class="mb-4">
                            {{ form_row(registrationForm.plainPassword.second, {'label_attr': {'class': 'fw-bold'}}) }}
                        </div>

                        <button type="submit" class="btn btn-success w-100 mb-3 py-2 fw-bold">Zarejestruj się</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}