{% extends 'base.html.twig' %}

{% block navigation %}
    <li><a href="{{ path('homepage') }}">Strona główna</a></li>
    <li><a href="{{ path('signin') }}">Zaloguj się</a></li>
    <li><a href="{{ path('signup') }}">Zarejestruj się</a></li>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h2 class="mb-4 text-center">Zaloguj się</h2>
                    
                    {{ form_start(loginForm, {'action': path('signin')}) }}
                        {{ form_errors(loginForm) }}

                        <div class="mb-3">
                            {{ form_row(loginForm.email, {'label_attr': {'class': 'fw-bold'}}) }}
                        </div>
                        
                        <div class="mb-4">
                            {{ form_row(loginForm.password, {'label_attr': {'class': 'fw-bold'}}) }}
                        </div>

                        <button class="btn btn-primary w-100 mb-3 py-2 fw-bold" type="submit">
                            Zaloguj się
                        </button>
                    {{ form_end(loginForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}